.container {
	margin: 2vw auto 2vw auto ;
	width: 80%;
	max-width: 800px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 15px;
	background-color: whitesmoke;
}

h1 {
	text-align: center;
	margin: 0;
	padding: 1rem;
}

form {
	display: flex;
	flex-wrap: wrap;

}

label {
	flex: 1 0 90%;
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	flex: 1 0 90%;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;

}

#submit-button {
	flex: 1 0 90%;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#submit-button:hover {
	background-color: #0069d9;
}
