@media (min-width: 400px) {
    main{
        flex-direction: unset;
        align-items: unset;
        justify-content: unset;
        display: grid;
        grid-template-areas: 
        "a a"
        "b b"
        "c c"
        "d e"
        
        
        ;
    }

    #hero{
        grid-area: a;
        
    }

    #news{
        grid-area: b;

    }
    #spotlight{
        grid-area: c;
    }
    #event{
        grid-area: d;
    }
    #weather{
        grid-area: e;
    }
    
}