@media (min-width: 400px) {
    main{
        flex-direction: unset;
        align-items: unset;
        justify-content: unset;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "a a"
        "b b"
        "f f"
        "c c"
        "d e";
        gap: 2vw;
    }
    
    #hero{
        grid-area: a;
        
    }

    #news{
        grid-area: b;

    }
    #spotlight{
        grid-area: c;
        max-height: none;
        
    }
    #event{
        grid-area: d;
    }
    #weather{
        grid-area: e;
    }
    #join{
        grid-area: f;
        display: block;
    }
    .discover-img{
        transition: all 0.2s;
    }
    .discover-img:hover{
        transform: translateY(1vw);

    }
}